asgiref==3.6.0
astroid==2.15.4
bleach==6.0.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
configparser==5.3.0
dill==0.3.6
Django==4.2.1
django-appconf==1.0.5
django-ckeditor==6.5.1
django-debug-toolbar==4.0.0
django-filter==23.2
django-imagekit==4.1.0
django-js-asset==2.0.0
django-summernote==0.8.20.0
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
pilkit==2.0
Pillow==9.5.0
platformdirs==3.5.0
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.7
pymssql==2.2.7
PyMySQL==1.0.3
pytz==2023.3
requests==2.30.0
six==1.16.0
sqlparse==0.4.4
tomlkit==0.11.8
tzdata==2023.3
urllib3==2.0.2
webencodings==0.5.1
wrapt==1.15.0
